.blogs{
    padding: 6.25rem 15rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.blogs h1{
    color: #1F1F1F;
font-family: Bebas Neue;
font-size: 3.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-bottom: 1.25rem;
}
.blogs p{
    color: var(--black, #333);
text-align: center;
font-family: Rajdhani;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.blog-box{
    display: flex;
    align-items: end;

    padding: 1.56rem;
    width: 28.75rem;
height: 28.125rem;
background-image: url(../Assets/img/blog1.svg), url(../Assets/img/blog4.svg);
}
.blog2{
    background-image: url(../Assets/img/blog1.svg), url(../Assets/img/blog2.svg);
}
.blog3{
    background-image: url(../Assets/img/blog1.svg), url(../Assets/img/blog3.svg);
}
.blog{
    margin-top: 2.44rem;
    display: flex;
width: 100%;
    justify-content: space-between;
}
.blog-box-1 h2{
    color: var(--white, #FFF);
font-family: Rajdhani;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.blog-box-1 h1{
    color: var(--white, #FFF);
font-family: Rajdhani;
font-size: 1.375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0 !important;


}
.date-box{

    padding: 0.31rem 0.88rem;
    background: #58BB47;
width: fit-content;
}
.blog-box-1{
    display: flex;
    align-items: center;
    gap: 0.94rem;

}
.blog-box-2 h3{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white, #FFF);
    font-family: Rajdhani;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.blog-box-2 hr{
    width: 0.0625rem;
height: 0.8125rem;
background: #979797;
}
.blog-box-2 img{
    width: 1.25rem;
height: 1.25rem;
}
.blog-box-2{
    padding-top:1.13rem ;
    display: flex;
    gap: 1.06rem;
    align-items: center;
    justify-content: end;
}
.load-btn{
    margin-top: 1.87rem;
    padding: 1.06rem 4.37rem;
    border: 2px solid var(--green, #58BB47);
background: var(--green, #58BB47);
width: fit-content;
color: var(--white, #FFF);
text-align: center;
font-family: Bebas Neue;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.blog-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 6.25rem 15rem 0;
    align-items: center;
}
.blog-box-main{
    width: 100%;
    height: 45.6875rem;
    background-image: url(../Assets/img/blogbg.svg),url(../Assets/img/blog.svg);
}
.bb-box{
    width: 100%;
}
#b-h1{
    color: var(--white, #FFF);
    font-family: Rajdhani;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#b-h3{
    color: var(--white, #FFF);
font-family: Rajdhani;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#date{
    padding: 0.94rem 1.94rem;
}
.right-blog h3{
    color: #1F1F1F;
font-family: Bebas Neue;
font-size: 3.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 0.91rem;
}
.right-blog p{
    color: var(--black, #333);
font-family: Rajdhani;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0.62rem;
}

.learn-btn{
    padding: 1.06rem 4.31rem;
    border: 2px solid var(--green, #58BB47);
background: var(--green, #58BB47);
margin-top: 1.25rem;
width: fit-content;
}
.learn-btn h4{
    color: var(--white, #FFF);
text-align: center;
font-family: Bebas Neue;
font-size: 1.375rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}


@media (min-width:1100px)and (max-width: 1850px) {
    .blogs{
      padding: 6.25rem 3.25rem 0;

    }
    .blog-detail{
        padding: 6.25rem 3.25rem 0;
    }

}

@media (max-width:768px){
    .blogs{
        padding: 0.94rem;
    }
    .blogs h1{
font-size: 1.625rem;
font-weight: 400;
line-height: normal;
padding-bottom: 0.94rem;
    }
    .blogs p{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
    }
    .blog-box-1 h1{
font-size: 0.875rem;
font-weight: 500;
line-height: normal;
    }
    .blog-box-1 h2{
font-size: 1rem;
font-weight: 600;
line-height: normal;
    }
    .blog-box-2 h3{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
    }
    .blog{
        overflow: auto;
        justify-content: initial;
        gap: 0.94rem;
    }
    .blog-box{
        padding: 0.64rem;
        width: 14.375rem;
height: 12.1875rem;
background-size: cover;
    }
    .blog-box-2{
        justify-content: initial;
    }
    .load-btn{
font-size: 1.125rem;
margin-top: 0.94rem;
font-weight: 400;
line-height: normal;
padding: 0.37rem 1.87rem;
    }
    .blog-detail{
        padding: 0.96rem;
        grid-template-columns: 1fr;
        gap: 0;
    }
    #b-h1{
font-size: 1.5rem;
font-weight: 500;
line-height: normal;
    }
    #date{
        padding: 0.56rem 1.06rem;
    }
    .blog-box-main{
        width: 100%;
        height: 26rem;
    }
    #b-h3{
font-size: 1.25rem;
font-weight: 500;
line-height: normal;
width: 100%;
    }
    .blog-box-2 hr{
        display: none;
    }
    .right-blog h3{
font-size: 1.625rem;
font-weight: 400;
line-height: normal;
margin-top: 0.94rem;
    }
    .right-blog p{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
    }
    .learn-btn h4{
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .learn-btn{
        padding: 0.37rem 1.38rem;
        margin-top: 0.96rem;
    }
}

