


.mission{
    padding: 6.25rem 15rem ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    justify-content: center;
    height: max-content !important;
    position: relative;


}
.mission-left1 {
    background: var(--black, #1A1A1A);
        height :100%;
        display: flex;
        align-items: center;
   padding-left: 7.5rem;
}

.mission-btn{
    margin-top: 2.81rem;
    padding: 0.62rem 1.88rem;
    background: var(--white, #FFF);
    width: fit-content;
    color: var(--black, #333);
font-family: Rajdhani;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}



.mission-left H3{
    color: var(--white, #FFF);
font-family: Rajdhani;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mission-left h2{
    color: #FFF;
font-family: Bebas Neue;
font-size: 3.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mission-left p{
    color: #FFF;
font-family: Rajdhani;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-block: 0.94rem;
padding-right: 17rem;
}
.vision{
    padding: 2.5rem 1.5rem;
    width: 22.5rem;

    border: 1px solid #6F6F6F;
background: #FFF;
display: flex;
flex-direction: column;
gap: 1.88rem;
position: absolute;
left: 49rem;
}
.vision-detail h3{
    display: inline-flex;
    gap: 0.63rem ;
    align-items: center;
    color: var(--black, #333);
font-family: Rajdhani;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0.63rem;
}
.vision-detail h3 hr{

    border-radius: 0rem 0.1875rem 0.125rem 0rem;
background: var(--green, #58BB47);
width: 0.25rem;
height: 2.125rem;
}
.vision-detail p{
    color: var(--black, #333);
font-family: Rajdhani;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mission-right img{
    width: 100%;
}

@media (min-width:1100px)and (max-width: 1850px) {
    .mission{
      padding: 6.25rem 3.25rem 0;

    }
    .vision{
        left: 37rem;
    }

}

@media (max-width:768px){
    .mission{
        padding: 2.20rem 0.94rem;

       grid-template-columns: 1fr;
    }
    .mission-left1{
        padding-left: 0.94rem;
    }
    .mission-left H3{
font-size: 1rem;
font-weight: 500;
line-height: normal;
    }
    .mission-left h2{
        color: #FFF;
font-family: Bebas Neue;
font-size: 1.625rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .mission-left p{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
padding-right: 0;
padding-block: 0.31rem;
    }
    .mission-left{
        padding:1.56rem 0.64rem ;
    }
    .mission-btn{
font-size: 1.125rem;
font-weight: 400;
line-height: normal;
margin-top: 0.94rem;
    }
    .vision-detail h3{
font-size: 1.625rem;
font-weight: 400;
line-height: normal;
    }
    .vision {
        left: 1.7rem;
        padding: 0.94rem 1.06rem;
        width: 15.5625rem;
        top: 24rem;
    }
    .vision-detail p{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
    }
}


